<div class="absolute inset-0 flex min-w-0 flex-col overflow-y-auto" cdkScrollable>

    <!-- Header -->
    <div
        class="bg-card flex flex-0 flex-col border-b p-6 dark:bg-transparent sm:flex-row sm:items-center sm:justify-between sm:px-10 sm:py-8">
        <div class="min-w-0 flex-1">
            <!-- Breadcrumbs -->
            <div>
                <div class="hidden flex-wrap items-center font-medium sm:flex">
                    <div>
                        <a class="whitespace-nowrap text-primary-500">Clientes</a>
                    </div>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="truncate text-3xl font-extrabold leading-7 tracking-tight sm:leading-10 md:text-4xl">
                    Clientes
                </h2>
            </div>
        </div>
        <!-- Actions -->
        <div class="mt-6 flex shrink-0 items-center sm:ml-4 sm:mt-0">
            <button mat-stroked-button (click)="openInviteDialog()">
                <mat-icon class="icon-size-4" [svgIcon]="'heroicons_mini:pencil-square'"></mat-icon>
                <span class="ml-2">Invitar</span>
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <!-- CONTENT GOES HERE -->
        <div class="p-6 bg-white rounded shadow">
            <div class="flex flex-col md:flex-row md:items-center md:justify-between mb-4 gap-2">
                <div class="flex gap-2 items-center">
                    <!-- <mat-form-field appearance="outline" class="w-48">
                        <mat-label>Buscar por nombre</mat-label>
                        <input matInput [(ngModel)]="nameFilter" (input)="onFilterChange()" placeholder="Nombre" />
                    </mat-form-field> -->
                    <mat-form-field appearance="outline" subscriptSizing="dynamic">
                        <mat-label>Estado</mat-label>
                        <mat-select [(ngModel)]="statusFilter" (selectionChange)="onFilterChange()">
                            <mat-option value="">Todos</mat-option>
                            <mat-option *ngFor="let status of statusOptions" [value]="status">
                                {{ statusMapper[status] }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" subscriptSizing="dynamic">
                        <mat-label>Filtro por fecha</mat-label>
                        <mat-date-range-input [rangePicker]="picker" [max]="today">
                            <input matStartDate placeholder="Inicio" [(ngModel)]="start" name="start">
                            <input matEndDate placeholder="Fin" [(ngModel)]="end" name="end">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>

                    <div class="flex items-center justify-center">
                        <button mat-stroked-button color="primary" class="h-10" (click)="applyDateFilter()">
                            <mat-icon class="icon-size-5">filter_alt</mat-icon>
                            <span class="ml-1">Filtrar</span>
                        </button>

                        <button mat-icon-button color="warn" class="ml-2 h-10" (click)="clearDateFilter()"
                            [disabled]="!start && !end" matTooltip="Limpiar filtro de fechas">
                            <mat-icon>clear</mat-icon>
                        </button>
                    </div>
                </div>
            </div>

            <div class="overflow-x-auto" *ngIf="clients.length > 0; else noClientsTemplate">
                <table mat-table [dataSource]="clients" class="min-w-full mat-elevation-z2">

                    <!-- Email Column -->
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef class="text-left">Email</th>
                        <td mat-cell *matCellDef="let client" class="group-hover:bg-gray-100">{{ client.email }}</td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef class="text-left">Nombre</th>
                        <td mat-cell *matCellDef="let client" class="group-hover:bg-gray-100">{{ client.firstName |
                            titlecase }} {{ client.lastName | titlecase }}</td>
                    </ng-container>

                    <!-- Phone Column -->
                    <ng-container matColumnDef="phone">
                        <th mat-header-cell *matHeaderCellDef class="text-left">Teléfono</th>
                        <td mat-cell *matCellDef="let client" class="group-hover:bg-gray-100">{{ client.phone }}</td>
                    </ng-container>

                    <!-- Status Column -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef class="text-left">Status</th>
                        <td mat-cell *matCellDef="let client" class="group-hover:bg-gray-100">
                            <span class="px-2 py-1 rounded-full text-md font-medium" [ngClass]="{
                                    'bg-green-100 text-green-800': client.status === 'COMPLETED',
                                    'bg-blue-100 text-blue-800': client.status === 'INVITED',
                                    'bg-yellow-100 text-yellow-800': client.status === 'IN_PROGRESS',
                                    'bg-gray-100 text-gray-800': client.status === 'CREATED'
                                  }">
                                {{ statusMapper[client.status] || client.status }}
                            </span>
                        </td>
                    </ng-container>

                    <!-- Created At Column -->
                    <ng-container matColumnDef="created_at">
                        <th mat-header-cell *matHeaderCellDef class="text-left">Creado</th>
                        <td mat-cell *matCellDef="let client" class="group-hover:bg-gray-100">
                            {{ client.createdAt | date:'medium' }}
                        </td>
                    </ng-container>

                    <!-- Updated At Column -->
                    <ng-container matColumnDef="updated_at">
                        <th mat-header-cell *matHeaderCellDef class="text-left">Actualizado</th>
                        <td mat-cell *matCellDef="let client" class="group-hover:bg-gray-100">
                            <span *ngIf="client.status !== 'CREATED' && client.status !== 'INVITED'; else noUpdatedAt">
                                {{ client.updatedAt ? (client.updatedAt | date:'medium') : 'N/A' }}
                            </span>
                            <ng-template #noUpdatedAt>
                                <span class="text-gray-500">N/A</span>
                            </ng-template>
                        </td>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Acciones</th>
                        <td mat-cell *matCellDef="let client" class="group-hover:bg-gray-100 text-center">
                            <button mat-icon-button *ngIf="client.status === 'INVITED'" color="primary"
                                (click)="copyProfileLink(client, $event)"
                                [disabled]="!client.links || client.links.length === 0"
                                matTooltip="Copiar enlace de completado de perfil">
                                <mat-icon>content_copy</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        class="group cursor-pointer transition-colors duration-150" (click)="onClick(row)">
                    </tr>
                    <!-- <tr *ngIf="clients.length === 0">
                        <td colspan="5" class="text-center py-4">No hay clientes para mostrar.</td>
                    </tr> -->
                </table>
            </div>

            <ng-template #noClientsTemplate>
                <div class="text-center py-4">No hay clientes para mostrar.</div>
            </ng-template>

            <mat-paginator [length]="totalClients" [pageSize]="pageSize" [pageIndex]="page - 1"
                [pageSizeOptions]="[5, 10, 20]" [pageSize]="20" (page)="onPageMatChange($event)" class="mt-4">
            </mat-paginator>
        </div>
    </div>
</div>
