<div class="absolute inset-0 flex min-w-0 flex-col overflow-y-auto bg-white" cdkScrollable>
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <!-- CONTENT GOES HERE -->
        <div class="h-full w-full">

            @if(token){
                <!-- Send button -->
                <div class="w-full flex justify-between mb-4">
                    <!-- client data -->
                    <div class="flex flex-col">
                        <span class="text-lg font-semibold text-gray-700">Cliente: {{ signatureData.signerName }}</span>
                        <span class="text-sm text-gray-500">Correo: {{ signatureData.signerEmail }}</span>

                    </div>

                    <button mat-raised-button color="primary" (click)="sendTemplateToSigners()">
                        <mat-icon class="pr-2">send</mat-icon>
                        Enviar solicitud de firma
                    </button>
                </div>
                <!-- Docuseal builder -->
                <docuseal-builder [token]="token" [fieldTypes]="fieldTypes" withSignYourselfButton="false" language="es" withDocumentsList="false" [roles]="roles" [submitters]="submitters" [customCss]="customCss" [emailMessage]="emailMessage" (onLoad)="handleLoad($event)" (onChange)="handleSave($event)" withSendButton="false" withUploadButton="false" class="h-full w-full rounded-2xl"></docuseal-builder>
            }@else {
                <!-- No token available -->
                <p class="text-center text-gray-500 mt-20">No hay token disponible para el documento.</p>
            }
        </div>
    </div>
</div>
